.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 400;
  height: 100px;
  background-color: blanchedalmond;
  margin: 0;
}
.content {
  display: flex;
  flex-direction: row;
}
.section_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: antiquewhite;
  padding: 25px;
}

.section_right {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: bisque;
  padding: 25px;
}
.field_title {
  margin-bottom: 25px;
  height: 30px;
  border: 2px solid black;
  outline: none !important;
}
.field_title:hover,
.field_title:focus {
  border: 2px solid blueviolet;
}
.field_description {
  margin-bottom: 25px;
  border: 2px solid black;
  outline: none !important;
}
.field_description:hover,
.field_description:focus {
  border: 2px solid blueviolet;
}
.button_add {
  height: 30px;
  background-color: chartreuse;
}
.list_item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.button_delete {
  background-color: red;
}
.list_item_title {
  border-bottom: 2px solid black;
  flex: 1;
  margin-right: 10px;
  cursor: pointer;
}
.list_item_title:hover {
  border-bottom: 2px solid blueviolet;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_window {
  width: 400px;
  height: 200px;
}
.modal_content {
  position: relative;
  width: 400px;
  height: 200px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  line-height: 30px;
}

.modal_close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.open {
  display: block;
}
.hide {
  display: none;
}
